<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
